modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib", "ffmpeg"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -l 5000 --no-clipboard"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39255
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "serve", "-l", "5000", "--no-clipboard"]

[objectStorage]
defaultBucketID = "replit-objstore-858159f4-0363-4b23-98ee-27b64b61d133"
